#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "FUSE File System Driver"
#define VER_INTERNALNAME_STR        "fuse.sys"
#define VER_ORIGINALFILENAME_STR    "FUSE.Sys"

#include "common.ver"


